:host {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: .5rem;
  align-items: center;
}

h2 {
  color: var(--contrast-color);
}

.header {
  width: 100%;
  height: 4rem;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  h2 {
    font-size: 1.5rem;
  }

  .btn.create {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    height: 70%;
    width: fit-content;
    aspect-ratio: 1/1;

    svg {
      height: 90%;
      aspect-ratio: 1/1;
      color: var(--gray-color);
    }
  }
}

.loading {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--gray-color);
  font-size: 1.2rem;
}

.empty {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  
  p {
    font-size: 1.2rem;
    color: var(--gray-color);
  }
}

.offers-grid {
  width: 100%;
  height: calc(100% - 4rem);
  overflow: auto;

  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
  justify-content: flex-start;
  align-content: flex-start;

  app-offer {
    width: calc(33.333% - 0.7rem);
    max-width: 350px;
  }
}

@media (max-width: 1200px) {
  .offers-grid {
    app-offer {
      width: calc(50% - 0.5rem);
    }
  }
}

@media (max-width: 800px) {
  .offers-grid {
    app-offer {
      width: 100%;
      max-width: 100%;
    }
  }

  .header {
    h2 {
      font-size: 1.2rem;
    }

    .btn {
      padding: 0 1rem;
      font-size: 0.9rem;
    }
  }
}

